.forgotpass_input{
    width: 20vw;
    margin-top: 2vh;
}
#forgotpass__button{
    border-radius: 4px;
  border: 1px solid #110d0d;
  top: 40vh;
  left: -8.5vw;
  height: 5vh;
  width: 7vw;
  color: #ffffff;
 background-color: #003153;
  font-size: 0.8rem;
  /* font-weight: bold; */

}