* {
  box-sizing: border-box;
}
/* peechey ka gradient  */
.body_wrapper {
  background-image: linear-gradient(#dbe7fc, #515f8f);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
#title {
  margin-top: -40vh;
  font-family: "Poppins", sans-serif;
  margin-bottom: 4vh;
  font-size: 1.8rem;
}

#lower_title {
  top: 45vh;
  position: relative;
  font-weight: bold;
  font-size: 1.4rem;
}

#signin {
  border-radius: 4px;
  border: 1px solid #110d0d;
  top: 40vh;
  left: -7vw;
  height: 5vh;
  width: 7vw;
  color: #ffffff;
  /* background-image: linear-gradient(#04619f, #000000); */
  font-size: 0.8rem;
  /* font-weight: bold; */
}

.form_css {
  /* yahan tu color de de kuch bhi background color */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: whitesmoke;
  border: none;
  padding: 12px 15px;
  margin: 10px 0;
  width: 100%;
}

.container_signin {
  background: rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  margin-top: -5vh;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

/* 304 202 */

.overlay {
  /* background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C); */
  background: rgba(238, 238, 238, 0.411);
  background: radial-gradient(
    circle,
    rgb(247, 247, 247) 0%,
    rgb(238, 238, 238) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 0 0; */
  background-position: center;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-top: -5vh;
  height: 40px;
  width: 40px;
}
.pass_forget {
  margin-left: 15vw;
  font-size: 0.7rem;
  width: 10vw;
}
.textclass {
  font-size: 0.8rem;
  color: black;
}
.demo_id {
  position: relative;
  top: 45vh;
  text-align: left;
  font-size: 0.7rem;
  left: -5vw;
}
.email_field {
  display: flex;
  width: 25vw;
}
.email_icon {
  position: relative;
  width: 1.5vw;
  height: 4.5vh;
  right: -90%;
  top: 3vh;
}
.password_field {
  display: flex;
}
.password_icon {
  position: relative;
  width: 1.5vw;
  height: 5vh;
  right: -90%;
  top: 3vh;
}
/* Media Query */

@media only screen and (max-width: 780px) {
  .overlay-container {
    width: 100%;
    left: 100%;
  }
  #signin {
    width: 20vw;
    top: 41vh;
  }
  .sign_input {
    width: 60vw;
    justify-content: center;
    align-items: center;
  }
  #lower_title {
    margin-top: -4vh;
    width: 50vw;
  }
  .social-container {
    display: flex;
    margin-top: 5vh;
  }
  .input_credentials {
    position: relative;
    top: 0vh;
  }
  #title {
    margin-top: -46vh;
    width: 50vw;
  }
  .pass_forget {
    width: 50vw;
    margin-left: 40vw;
  }
  .container_signin {
    margin-top: -30vh;
  }
  .sign-in-container {
    width: 100%;
    margin-left: 0vw;
  }
  
  .email_field{
    width: 70vw;
    margin-left: -5vw; 
  }
  .password_field{
    width: 70vw;
    margin-left: -5vw;
  }

}
