.card-container {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(#d7e1ec, #ffffff); */
}

.card-align {
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

.coin-card__link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.show-more-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: whitesmoke;
  background-color: #003153;
  width: 12rem;
  height: 2.2rem;
  position: relative;
  margin-top: 10.5vh;
  margin-left: 60vw;
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
}

.Mkt_Desc{
  margin-left: -65%;
  
}