.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  padding: 2rem;
}

.card-container__child {
  box-shadow: rgba(27, 20, 20, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: white;
}

.card-align__headings {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(8, 34, 56);
  margin-bottom: 1rem;
  font-weight: 450;
}

.card__heading__coin {
  margin-left: 0.8rem;
}

.card__heading__price {
  margin-left: 16.4rem;
}
.card__heading__price24h {
  display: none;
}
.card__heading__marketCap {
  margin-left: 6.3rem;
}

.card__heading__1hourChange {
  margin-left: 2.7rem;
}

.card__heading__24hourHigh {
  margin-left: 4.5rem;
}

.card__heading__24hourLow {
  margin-left: 3rem;
}

.card__heading__24hourChange {
  margin-left: 4.5rem;
}

.card__heading__7dayChange {
  margin-left: 2.8rem;
}

.card__heading__add {
  margin-left: 4rem;
}

/* Search Bar Styling */
.search-barlist__search {
  position: relative;
  margin-top: 1vh;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  width: 25rem;
  margin-left: 32vw;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.search-barlist__search .search__icon {
  position: absolute;
  color: lightgray;
  right: 5%;
}

.search-barlist__input {
  background-image: linear-gradient(#28313b, #485461);
  color: #e2e2e2;
  border: none;
  padding: 0.7rem;
  border-radius: 0.25rem;
  outline: none;
  height: 100%;
  width: 100%;
}

.search-barlist__input::placeholder {
  color: #e2e2e2;
}

.card-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.card-align::-webkit-scrollbar {
  display: none;
}

.coin-card__link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 580px) {
  .search-bar__search {
    width: 20rem;
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 780px) {
  .card__heading__marketCap,
  .card__heading__24hourChange,
  .card__heading__24hourHigh,
  .card__heading__24hourLow,
  .card__heading__7dayChange,
  .card__heading__price,
  .card__heading__1hourChange {
    display: none;
  }

  .search-barlist__search {
    width: 50vw;
    margin: 1rem;
    margin-left: 24vw;
  }

  .card__heading__coin,
  .card__heading__price,
  .card__heading__add {
    font-size: 1.14rem;
  }

  .card__heading__coin {
    margin-left: 8vw;
  }

  .card__heading__price24h {
    display: flex;
    font-size: 0.94rem;
    margin-left: 20vw;
  }
  .card__heading__add {
    margin-left: 18vw;
  }
}
