.outer-box{
    height: 75vh;
    display: flex;
}

.first-inner{
    border-radius: 10px;
    width: 30vw;
    margin: 10px;
    /* background-color: #000000;
    background-image: linear-gradient( #2a2a2b 0%, #309de6 74%); */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.second-inner{
    width: 70vw;
    margin: 10px;
}

.up-down-space{
    height: 10%;
    margin:10px;
}
.name-logo {
    height:15%;
    display:flex;
}
.pp{
    height:15%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.long-change {
    height:20%;
    display:flex;
    justify-content: space-evenly;
    /* margin-top: 2.5%; */
    padding: 3px;
    font-family: "Open Sans", sans-serif;
}

.name{
    width: 70%;
    font-size: 1.45rem;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5%;
    width:fit-content;
    height:fit-content;
    font-family: "Poppins", sans-serif;
    color: blanchedalmond;

}
.logo{
    width: 10%;
    margin-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
}
img{
    width: 100%;
    height: 100%;
}
.mrkt-cap{
    display: flex;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
}
.mp{
    display: flex;
    flex-direction: column;
}
.mrkt-st{
    font-family: "Poppins", sans-serif;
    height: 10%;
    text-align: center;
    font-size: larger;
    padding-top: 2%;
    font-weight: bold;
}
.price{
    font-family: "Open Sans", sans-serif;
    padding-top: 2%;
    margin-right: auto;
    margin-left: auto;
}
.line-up-down{
    border: 0.5px solid black;
    margin-right: auto;
    margin-left:auto;
}
.cp{
    margin-left: 8px;
}
.sp{
    margin-top: 5%;
}
#info-button{
    width: 12px;
}

#red{
    color:red;
}
#green{
    color: rgb(14, 223, 14);
}