@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.main-bar {
  /* margin-bottom: 10px; */
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-image: linear-gradient(#f6ebe6, #aee1f9);
  color: whitesmoke;
}

.main-bar__container {
  width: 60%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.main-bar__container .span {
  font-size: 1.2rem;
  display: block;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}

.span .hidden {
  opacity: 0;
}

.main-bar__container .main-bar__container__link:hover {
  color: #205f8f;
  border-bottom: 1px solid rgb(107, 105, 105);
}

@media (max-width: 780px) {
  .main-bar__container span {
    font-size: 0.8rem;
  }

  .main-bar__container {
    width: 100vw;
  }
}
