* {
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  bottom: 0;
  background-image: linear-gradient(#09203f, #537895);
  width: 100%;
  /* height:9rem;  */
  height: 20vh;
  /* height: auto; */
  padding: 0 3.1rem;
  display: flex;
  justify-content: space-between;
  /* margin-top: 10vh; */
}
.footer-social-icons {
  width: 50rem;
  display: flex;
}
.social-icons {
  position: relative;
  margin-top: 23px;
  /* left:23%;   */
  display: flex;
  /* margin-right: 10rem; */
}

ul li {
  list-style: none;
}
.social-icons .icons .a-nav {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  text-align: center;
  margin: 10px;
  border-radius: 100%;
  padding: 7px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.social-icons .icons .a-nav:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.social-icons .icons .s-icon {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  /* font-size:2rem; */
  color: #262626;
  transition: 0.5s;
}
.a-nav {
  font-size: 10px;
}
.social-icons .icons:nth-child(1) .a-nav:hover .s-icon {
  color: #bb001b;
}

.social-icons .icons:nth-child(2) .a-nav:hover .s-icon {
  color: #25d366;
}

.social-icons .icons:nth-child(3) .a-nav:hover .s-icon {
  color: #007bb6;
}

.lfooter {
  color: #edf0f1;
  font-size: 2rem;
  /* margin-top: 1.6rem;
   width: 20vw; 
  left: 0;*/
  /* margin-bottom:2rem; */
  margin-left: 0.4rem;
}
.logo-footer {
  margin-top: 1.5rem;
}
.lfooter:hover {
  color: #99badd;
  text-decoration: none;
}

.footer-bottom {
  color: #edf0f1;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  width: 12rem;
}
.dummy-text {
  padding: 0.45rem;
  display: inline;
}
.text {
  color: #edf0f1;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-decoration: none;
  float: left;
  width: 50%;
  /* padding-right: 2px; */
}

.text:hover {
  color: #edf0f1;
  text-decoration: underline;
}

.a-about {
  margin-top: 1.4rem;
}
.about {
  color: #edf0f1;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.about:hover {
  text-decoration: underline;
  color: #edf0f1;
}

@media (max-width: 765px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media (max-width: 965px) {
  .footer {
    padding: 0 3rem;
    height: 28vh;
    margin-top: -30vh;
  }
  .logo-footer {
    font-size: 2rem;
    margin-left: 2.6rem;
    margin-top: 2.2rem;
    width: 20vw;
    left: 0;
    /* margin-right: 3rem; */
    position: absolute;
  }
  .footer-social-icons {
    margin-left: 9.6rem;
    /* width:14rem;  */
    margin-top: 13px;
    display: flex;
  }
  .about {
    color: #edf0f1;
    font-size: 0.9rem;
  }
  .text {
    color: #ddd;
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  .a-about {
    padding-right: 0.8rem;
  }
}
