.coin_container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
}

.coin_row {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 95vw;
}

.coin_row:hover {
  background: aliceblue;
}

.coin {
  display: flex;
  padding-right: 24px;
}

.coin_img {
  height: 2.1rem;
  width: 2.1rem;
  margin-left: 4px;
  margin-right: 6px;
  padding-top: 2vh;
}

.coin_h1 {
  font-size: 0.95rem;
  width: 20vw;
  padding-top: 2vh;
}

.coin_symbol {
  text-transform: uppercase;
}

.coin_data {
  display: flex;
  align-items: center;
  width: 100%;
}

.coin_price {
  width: 8vw;
  font-size: 0.9rem;
  margin-left: 9vw;
}

.coin_marketcap {
  width: 13vw;
  font-size: 0.9rem;
  margin-left: 3vw;
}

.coin_percent {
  width: 5vw;
  margin-left: -3vw;
}

.red {
  color: #f00606;
  font-size: 0.9rem;
  font-weight: bold;
}

.green {
  color: #13c783;
  font-size: 0.9rem;
  font-weight: bold;
}

.coin_high {
  width: 20vw;
  padding-top: 2vh;
  font-size: 0.89rem;
  margin-left: -22vw;
}

.coin_low {
  width: 20vw;
  padding-top: 2vh;
  font-size: 0.9rem;
  margin-left: -4vw;
}
.coin_7d {
  width: 10vw;
  padding-top: 2vh;
  font-size: 0.9rem;
  margin-left: -3vw;
}
.coin_30d {
  width: 10vw;
  padding-top: 2vh;
  font-size: 0.9rem;
}
#buttonsList {
  padding-top: 3vh;
}
