.news-box{   
    background-color: #f3efea;
    width: 90%;
    height: 78vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    margin: auto;

}

/* .design-img{
    width: 5%;
    height: 10%;
    margin: 5px;
} */