.news-box {
  background-color: white;
  width: 95%;
  height: 70vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* .design-img{
    width: 5%;
    height: 10%;
    margin: 5px;
} */
