.news-box {
  background-color: white;
  width: 95%;
  height: 70vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: red;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* .design-img{
    width: 5%;
    height: 10%;
    margin: 5px;
} */
