* {
  box-sizing: border-box;
}

.body_wrapper {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
}
#signup_title {
  margin-top: -45vh;
}

#lower_title {
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: -5vh;
}

#signin {
  /* border-radius: 20px; */
  
  margin-top: -36vh;
  margin-left: 14vw;
  /* height: 6vh;
  color: #ffffff;
  background-color: #ff4b2b;
  font-size: 1.2rem;
  font-weight: bold; */


  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: whitesmoke;
  background-color: #003153;
  
  height: 2.2rem;
  
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
  
}

.form_css {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  margin-top: 5vh;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container_signin {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #eb6b6b;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-top: -5vh;
  height: 40px;
  width: 40px;
}
@media only screen and (max-width: 600px) {
  #signin {
    height: 5vh;
    width: 24vw;
    top: 41vh;
    padding: -10vh 0;
    font-size: 0.8rem;
    border-radius: 15px;
  }
}